#survey button {
  margin-top: 10px;
}
#showSurvey {
  margin-top: 10px;
}
.jumbotron {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  color: white;
}
#introToProgram {
  display: none;
  text-align: center;
}
#littleExperience {
  display: none;
  text-align: center;
}
#intermediateExperience {
  display: none;
  text-align: center;
}
#advanceExperience {
  display: none;
  text-align: center;
}
